*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

/* Typography */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #918ca4;
}

h1,
h2,
h3,
h4,
h5 {
  color: #1b0760;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  /* 1 x font of the html element */
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* icons */
.icon {
  width: 40px;
  height: 40px;
}

.company {
  font-size: 3rem;
  color: rgb(0, 179, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Links */
a {
  text-decoration: none;
}

.link {
  color: #ff3400;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 1.5rem;
  }
}
/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark h1,
.block--dark h2,
.block--dark h3,
.block--dark h4 {
  color: #fff;
}

.block--skewed-showcase {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  -webkit-clip-path: polygon(60% 0, 100% 6%, 100% 100%, 0 100%, 0 9%);
          clip-path: polygon(60% 0, 100% 6%, 100% 100%, 0 100%, 0 9%);
}

.block--skewed-hero {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 77%, 66% 81%, 0 70%);
          clip-path: polygon(0 0, 100% 0, 100% 77%, 66% 81%, 0 70%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Hero */
.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* footer */
.footer {
  background: #232323;
}

.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
  font-size: 3rem;
}

.footer__brand {
  margin-top: 5rem;
}

.footer__brand img {
  width: 100%;
  max-width: 80px;
  padding: 0 1rem;
}

.company--footer {
  font-size: 3rem;
  color: rgb(0, 179, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
  margin: 0px;
}

.footer__author {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }
  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }
  .footer__copyright {
    font-size: 1.5rem;
  }
  .footer__section {
    border: 0;
  }
  .footer__heading {
    font-size: 1.6rem;
  }
  .footer a {
    color: #777;
    transition: 0.3s;
  }
  .footer a:hover {
    color: #fff;
  }
  .footer__section .list {
    margin: 0;
  }
  .company--footer {
    font-size: 2.4rem;
  }
  .company__logo--footer {
    padding: 1rem 0rem;
    max-width: 10rem;
  }
}
/* Navigation Bar */
.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 1;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.company__logo {
  padding: 1rem 2rem;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}
/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Features */
.feature__heading {
  margin: 1rem 0;
}

.feature {
  gap: 4rem 2rem;
  margin: 12rem;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}
/* Showcase Block */
.block-showcase__image > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }
  .block-showcase__image {
    justify-self: end;
  }
  .block-showcase__image > img {
    width: auto;
    max-width: 800px;
    padding: 5rem;
  }
}
/* Media */
.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}/*# sourceMappingURL=styles.css.map */