<section class="block container">
  <header class="block__header">
    <h2>Most popular planets to visit</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem,
      dignissimos!
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">Red planet Mars</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum
        excepturi nemo minima voluptas perferendis ratione inventore, laborum
        quisquam exercitationem? Debitis!
      </p>
      <a href="#" class="link">Learn More...</a>
    </div>
    <picture data-aos="fade-left">
      <img class="feature__image" src="images/mars.jpg" alt="mars" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-left">
      <h3 class="feature__heading">Blue planet Neptune</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum
        excepturi nemo minima voluptas perferendis ratione inventore, laborum
        quisquam exercitationem? Debitis!
      </p>
      <a href="#" class="link">Learn More...</a>
    </div>
    <picture data-aos="fade-right">
      <img class="feature__image" src="images/neptune.jpg" alt="neptune" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">Earth satellite Moon</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum
        excepturi nemo minima voluptas perferendis ratione inventore, laborum
        quisquam exercitationem? Debitis!
      </p>
      <a href="#" class="link">Learn More...</a>
    </div>
    <picture data-aos="fade-left">
      <img class="feature__image" src="images/moon.jpg" alt="moon" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-left">
      <h3 class="feature__heading">Largest in the Solar System Jupieter</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum
        excepturi nemo minima voluptas perferendis ratione inventore, laborum
        quisquam exercitationem? Debitis!
      </p>
      <a href="#" class="link">Learn More...</a>
    </div>
    <picture data-aos="fade-right">
      <img class="feature__image" src="images/jupiter.jpg" alt="jupiter" />
    </picture>
  </article>
</section>
