<section
  class="block block--dark block--skewed-showcase block-showcase"
  data-aos="zoom-in"
>
  <header class="block__header">
    <h2>Journey preparation plan</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image" data-aos="zoom-in">
      <img
        class="feature__image"
        src="images/catstronaut.jpg"
        alt="catstronaut"
      />
    </picture>
    <ul class="list" data-aos="zoom-in">
      <li>
        <div class="media">
          <div class="media__body">
            <h3 class="media__title">Mental preparation support</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
              aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Voluptates, tempora?
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__body">
            <h3 class="media__title">Physical preparation support</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
              aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Voluptates, tempora?
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__body">
            <h3 class="media__title">Technical preparation support</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi,
              aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Voluptates, tempora?
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
